* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body{   
    background: #727272f6;
}

.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: rgb(142, 142, 158);
    margin-top: 100px;
    border-top: rgb(0, 0, 0);
    margin-bottom: 100px;
}


.container-all img{
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container-all p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}

